body {
    font-family: sans-serif;
}

.photo-domain {
    background-clip: border-box;
    display: flex;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    height: 400px;
}

/*Quote*/
.quote-area {
    width: 70ch;
    padding-left: 8px;
    margin-bottom: 6px;
    border-left: 2px solid black;
}

.quote-area q {
    font-family: serif;
    font-size: x-large;
}

cite {
    margin-left: 8px;
}
